.featured {
    height: 400px;
    background: rgb(190,231,189);
    background-image: linear-gradient(90deg, rgba(190,231,189,1) 1%, rgba(190,230,191,1) 28%, rgba(183,215,222,1) 61%, rgba(176,178,228,1) 100%);
}

.featured-block {
    margin-left: 10%;
}

.featured-heading {
    margin-top: 5%;
    font-size: 25px;
    font-weight: 600;
}

.featured-content {
    margin-top: 3%;
    font-size: 16px;
    font-weight: 200;
    width: 60%;
} 

.featured-input {
    margin-top: 5%;
    background-color: white;
    height: 100px;
    width: 80%;
}

