@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add application styles & imports to this file! */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';

@font-face {
  src: local('☺'),
    url('https://content.r9cdn.net/res/tt-hoves-variable.aa26e516503a253001e8d956f3028f76.woff2?v=8664191c7b8cab2e3fc042680118a009031da15d&cluster=5')
      format('woff2 supports variations'),
    url('https://content.r9cdn.net/res/tt-hoves-variable.aa26e516503a253001e8d956f3028f76.woff2?v=8664191c7b8cab2e3fc042680118a009031da15d&cluster=5')
      format('woff2-variations');
  font-family: TT Hoves Variable;
  font-style: normal;
  font-display: swap;
}

body {
  color: #192024;
  font-family: TT Hoves Variable, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #fff;
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
