<div class="flex flex-row justify-center">
  <div class="w-11/12">
    <div class="p-3 mb-3">
      <div class="border-l-2 border-l-blue-400">
        Période du {{ moment(flights[0][0].departd).format('DD/MM/YYYY') }} au {{ moment(flights[0][0].returnd).format('DD/MM/YYYY') }}
      </div>
    </div>
    <div class="carousel-wrapper">
      <div #carouselList class="carousel-list">
        <ng-container *ngFor="let destination of flights; let index = index;">
          <world-explorer-destination class="carousel-item" [destinations]="destination" [highlight]="index === 0"></world-explorer-destination>
        </ng-container>
      </div>
      <div #carouselArrow>
        <ng-container *ngIf="displayArrow">
          <fa-icon [icon]="faChevronRight" class="carousel-arrow pr-2"></fa-icon>
        </ng-container>
      </div>
    </div>
    <div class="p-4 border-b text-xs text-gray-600"></div>
  </div>
</div>