<div class="flex flex-row justify-center">
  <div class="w-11/12">
    <div class="p-4">
      <ng-container
        *ngFor="
          let airport of destinations[0].from;
          let i = index;
          let first = first;
          let last = last
        "
      >
        <ng-container *ngIf="first">
          <fa-icon [icon]="faCircleChevronRight" size="1x"></fa-icon> Depuis
        </ng-container>
        <ng-container *ngIf="!first && !last"> , </ng-container>
        <ng-container *ngIf="last"> et </ng-container>
        <span class="font-semibold">
          {{
            getCityByAirportCode(
              destinations[0].flights[i].originAirportShortName
            ).name
          }}
        </span>
        <span>
          ({{
            getCityByAirportCode(
              destinations[0].flights[i].originAirportShortName
            ).country
          }})
        </span>
        <span *ngIf="last">
          - Période du
          {{
            moment(destinations[0].flights[i].departd).format('DD/MM/YYYY')
          }}
          au
          {{ moment(destinations[0].flights[i].returnd).format('DD/MM/YYYY') }}
        </span>
      </ng-container>
    </div>
    <div class="carousel-wrapper">
      <div #carouselList class="carousel-list">
        <ng-container
          *ngFor="let destination of destinations; let index = index"
        >
          <world-explorer-destination
            class="carousel-item"
            [destinations]="destination.flights"
            [highlight]="index === 0"
          ></world-explorer-destination>
        </ng-container>
      </div>
      <div #carouselArrow>
        <ng-container *ngIf="displayArrow">
          <fa-icon
            [icon]="faChevronLeft"
            [ngStyle]="{ visibility: clickCounter > 0 ? 'visible' : 'hidden' }"
            class="carousel-arrow left-0 pr-2"
            id="arrow-left"
          ></fa-icon>
          <fa-icon
            [icon]="faChevronRight"
            class="carousel-arrow right-0 pr-2"
            id="arrow-right"
          ></fa-icon>
        </ng-container>
      </div>
    </div>
  </div>
  <div #carousel></div>
</div>
