@import 'tailwindcss/base';

.featured {
  background: rgb(190, 231, 189);
  background-image: linear-gradient(
    90deg,
    rgba(190, 231, 189, 1) 1%,
    rgba(190, 230, 191, 1) 28%,
    rgba(183, 215, 222, 1) 61%,
    rgba(176, 178, 228, 1) 100%
  );
}

.featured-content {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

.featured-input {
  background-color: white;
}

.featured-submit {
  background-image: linear-gradient(
    90deg,
    rgba(190, 231, 189, 1) 1%,
    rgba(190, 230, 191, 1) 28%,
    rgba(183, 215, 222, 1) 61%,
    rgba(176, 178, 228, 1) 100%
  );
  width: 35px;
  height: 35px;
}

fa-icon {
  ::ng-deep svg {
    pointer-events: none;
  }
}
.flex-row-center {
  @apply flex flex-row items-center;
}

::ng-deep .ng-select {
  width: 100%;
  .ng-select-container {
    border-radius: 8px;
  }
}
