<div class="flex flex-col justify-center items-center">
  <div
    class="w-11/12 featured rounded-lg drop-shadow-xl flex flex-col items-center p-4"
  >
    <p class="text-lg text-center md:text-2xl pb-3 font-medium">
      Comparateur de vols multi-départs
    </p>
    <p class="text-lg featured-block featured-content">
      Bienvenue ! Trouvez un endroit ou vous rejoindre pour votre prochain
      voyage.
    </p>
  </div>
  <div class="w-11/12 md:w-10/12 p-3">
    <div class="flex flex-row justify-center">
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="bottom-0 featured-input rounded-lg shadow-md border-solid border-2 border-sky-500"
      >
        <div class="flex-row-center flex-wrap bg-[#f0f3f5] rounded-lg">
          <div
            class="ng-autocomplete p-2 flex-row-center justify-center flex-wrap grow"
          >
            <ng-autocomplete
              placeholder="Aéroport de départ n°1"
              [data]="airports"
              [searchKeyword]="'city'"
              (selected)="setControlValue('people1', $event.code)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              [minQueryLength]="3"
              (inputCleared)="setControlValue('people1', null)"
            ></ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <div
            class="ng-autocomplete p-2 flex-row-center justify-center flex-wrap grow"
          >
            <ng-autocomplete
              placeholder="Aéroport de départ n°2"
              [data]="airports"
              [searchKeyword]="'city'"
              (selected)="setControlValue('people2', $event.code)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              [minQueryLength]="3"
              (inputCleared)="setControlValue('people2', null)"
            ></ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <div class="inline sm:flex">
            <div class="flex-row-center justify-start flex-wrap grow p-3">
              <label for="start" class="pr-2">Départ :</label>
              <input
                type="date"
                id="start"
                name="trip-start"
                formControlName="start"
                class="bg-purple-white shadow rounded-lg border-0 p-3"
              />
            </div>

            <div class="flex-row-center justify-start flex-wrap grow p-3">
              <label for="end" class="pr-2">Retour : </label>
              <input
                type="date"
                id="end"
                name="trip-end"
                formControlName="end"
                class="bg-purple-white shadow rounded-lg border-0 p-3"
              />
            </div>
          </div>

          <div class="flex-row-center justify-center flex-wrap grow p-2">
            <button
              role="button"
              type="submit"
              [disabled]="!formGroup.valid || isLoading"
            >
              <div
                class="featured-submit w-full p-5 md:p-3 flex-row-center justify-center rounded-lg {{
                  !isLoading ? 'hover:scale-105' : ''
                }}"
              >
                <fa-icon
                  [icon]="isLoading ? faCircleNotch : faMagnifyingGlass"
                  size="1x"
                  [classes]="submitBtnClasses()"
                ></fa-icon>
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
