@import 'tailwindcss/base';

.featured {
  background: rgb(190, 231, 189);
  background-image: linear-gradient(
    90deg,
    rgba(190, 231, 189, 1) 1%,
    rgba(190, 230, 191, 1) 28%,
    rgba(183, 215, 222, 1) 61%,
    rgba(176, 178, 228, 1) 100%
  );
}

.featured-content {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

.featured-input {
  background-color: white;
}

.featured-submit {
  background-image: linear-gradient(
    90deg,
    rgba(190, 231, 189, 1) 1%,
    rgba(190, 230, 191, 1) 28%,
    rgba(183, 215, 222, 1) 61%,
    rgba(176, 178, 228, 1) 100%
  );
  width: 35px;
  height: 35px;
}

fa-icon {
  ::ng-deep svg {
    pointer-events: none;
  }
}
.flex-row-center {
  @apply flex flex-row items-center;
}

.ng-autocomplete {
  @apply w-full sm:w-auto;
  ::ng-deep .autocomplete-container {
    width: 100%;
    height: unset;

    @apply bg-white shadow rounded-lg p-3;

    .input-container {
      input {
        font-size: unset;
        box-sizing: unset;
        border: unset;
        box-shadow: unset;
        outline: unset;
        background-color: unset;
        color: unset;
        width: unset;
        padding: unset;
        line-height: unset;
        height: unset;
      }
    }
  }
}
