<world-explorer-navbar></world-explorer-navbar>

<div class="pb-10">
  <world-explorer-featured [isLoading]="loading" (formSubmitEvent)="fetchDestinations($event)"></world-explorer-featured>
</div>

<ng-container *ngIf="loading">
  <world-explorer-loading-carousel></world-explorer-loading-carousel>
</ng-container>

<ng-container *ngIf="flightsArray.length">
  <ng-container *ngFor="let flights of flightsArray">
    <world-explorer-carousel [flights]="flights"></world-explorer-carousel>
  </ng-container>
</ng-container>