<world-explorer-navbar></world-explorer-navbar>

<world-explorer-featured (formSubmitEvent)="fetchDestinations($event)"></world-explorer-featured>

<ng-container *ngIf="cheapFlights.length > 0">
  <div class="grid grid-cols-3 gap-4">
    <ng-container *ngFor="let cheapDestination of cheapFlights; let index = index;">
      <world-explorer-destination [destinations]="cheapDestination" [highlight]="index === 0"></world-explorer-destination>
    </ng-container>
  </div>
</ng-container>

<!-- https://dribbble.com/shots/16397479/attachments/10032306?mode=media -->