<div class="pr-4">
  <div class="block bg-white shadow-md rounded-lg overflow-hidden">
    <div>
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        animation="pulse"
        [theme]="{
          'border-radius': '5px 5px 0 0',
          height: '100px',
          width: '100%',
          margin: '0px'
        }"
      ></ngx-skeleton-loader>
    </div>

    <div class="p-4 border-b">
      <div class="w-1/4">
        <ngx-skeleton-loader
          count="1"
          appearance="line"
          animation="pulse"
        ></ngx-skeleton-loader>
      </div>
    </div>

    <div class="p-4 border-b">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
      ></ngx-skeleton-loader>
    </div>

    <div class="p-4 border-b">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
