<div class="flex flex-col items-center p-3 mb-3">
  <div class="w-11/12">
    <div class="px-4 w-2/5 rounded-full">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
      ></ngx-skeleton-loader>
    </div>
    <div class="px-4 w-3/5 rounded-full">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
      ></ngx-skeleton-loader>
    </div>
    <div class="flex flex-row overflow-hidden">
      <swiper [config]="swiperConfig">
        <ng-container *ngFor="let i of loadingItems">
          <ng-template swiperSlide>
            <world-explorer-loading-destination>
            </world-explorer-loading-destination>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
  </div>
</div>
